@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #F8DDE8;
  color: #4a4a4a;
}

body {
  min-height: 100vh;
  background-color: #F8DDE8;
  color: rgb(31 41 55);
}

@layer components {
  .neu-card {
    border-radius: 1.25rem;
    background-color: #FCEAF2;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1), 0 -6px 12px rgba(255,255,255,0.8);
  }

  .neu-button {
    border-radius: 1.25rem;
    background-color: #FF4FA3;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 500;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1), 0 -6px 12px rgba(255,255,255,0.8);
  }
}
